.venv/
venv/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/

# Secret Environment variables (Holds OpenAI API key)
.env

# Local Vector Databases
chroma_db/
chroma_db_v2/
chroma_db_local/

# Raw F1 data PDFs we use for testing
*.pdf